<component name="libraryTable">
  <library name="Spring-3.2.18.RELEASE" type="spring">
    <properties version="3.2.18.RELEASE" />
    <CLASSES>
      <root url="file://$PROJECT_DIR$/web/WEB-INF/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/web/WEB-INF/lib" recursive="false" />
  </library>
</component>